.search-result(hasentityname=hit._source.HasEntityName style="border:1px solid red;padding:30px;")
  h2.result-title
    a(href=hit._source.HasEntityURL) #{hit._source.HasEntityType} "#{hit._source.HasEntityTitle}"
  .result-url #{hit._source.HasEntityURL}
    .result-keywords
      include ../keywords
  .result-blurb #{hit._source.HasEntityBlurbTEXT}
  .result-content-snippet #{hit._source.HasEntityContentTEXT}
  include ../annotations/annotations
  //include incoming-links
  include ../actions
